html, body, .main-container {
  height: 100%;
}
body{
  background-image: linear-gradient(#000000 25%,75%, #0f0f0f);
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.main-button-container{
  display: flex;
  
}

.link-button{
  background-color: #1f1f1f;
  float: left;
  border:5px white;
  color: white;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 16px;
}

h1{
  font-size: 90px;
  color: #ffffff;
}

